<section class="bg-gray-900" id="email-cta">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-md text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Join our email list</h2>
            <p class="mb-6 font-light  md:text-lg text-gray-400">For the latest Fort Kent Outdoor Center news and events
                subscribe to our mailing list.</p>
                <div class="flex items-center mb-3">
                    <div class="relative mr-3 w-full bg-white text-gray-700 p-5 rounded">
                        Thank you for your interest in the Fort Kent Outdoor Center.<br />Keep you eyes on your inbox for news and announcements.
                    </div>
                </div>
        </div>
    </div>
</section>