anyascii==0.3.3
asgiref==3.9.1
awscli==1.41.9
beautifulsoup4==4.13.4
boto3==1.39.9
botocore==1.39.9
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.4
django-appconf==1.1.0
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-storages==1.14.6
django-stubs-ext==5.2.2
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
django_compressor==4.5.1
djangorestframework==3.16.0
docutils==0.19
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
idna==3.10
jmespath==1.0.1
laces==0.1.2
openpyxl==3.1.5
pillow==11.3.0
pillow_heif==1.0.0
pyasn1==0.6.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
rcssmin==1.1.2
requests==2.32.4
rjsmin==1.2.2
rsa==4.7.2
s3transfer==0.13.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.14.1
urllib3==2.5.0
wagtail==7.0.1
wagtail-metadata==5.0.0
wagtail-modeladmin==2.2.0
Willow==1.11.0
