{% extends "../_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block content %}
    <section
            style="background-image: url('{% static 'website/img/biathlon_camp/IMG_0805.JPG' %}');" class=" bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    U15 and U18 Biathlon Camp</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">
Join our action-packed Biathlon Camps this July! Perfect for U15 and U18 athletes eager to sharpen their skills in a vibrant environment. Experience the thrill of shooting on our 30-point range and glide through our scenic rollerski loop. No prior shooting experience needed for U15s, while U18s require rollerski experience. Fuel up with hearty meals and snacks, and enjoy cozy lodge accommodations—all for just $350 per camp! Don't miss out on the ultimate biathlon adventure this summer!</p>
            </div>
        </div>
    </section>


    <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">U15 Biathlon Camp July 22 -July 25:</h2>
            <p class="mb-4">Come join us for our U15 Biathlon Camp! Camp participants will get to practice their biathlon skills on our full 30 point shooting range under the guidance of our experienced coaches. Campers will also get lots of time on rollerskis in a safe, car-free environment on our 3km rollerski loop. This is a perfect opportunity for cross country skiers to get a strong introduction to biathlon, as well as for experienced biathletes to practice their skills. Training will mostly be rollerskiing, but campers should also bring running sneakers, and be prepared for some easy runs. Prior shooting experience is not needed. Prior rollerski experience recommended, but not required. We will provide a rifle for you if you need one.</p>
            <p>Housing: Bunk beds and cots will be provided in the heated lodge and wax rooms<br/>
            Food: We will provide meals and a few group snacks, but encourage campers to bring personal snacks. Please communicate any allergies/dietary restrictions to us.
            </p>
            <h4 class="font-medium">Camp Fee: $350</h4>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeadU3TdpAANxVXYdwhLzfzhlU-b3xJhReXUadkkVMpQBVpzw/viewform?usp=sf_link" target="_blank" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                  Register for U15 Biathlon Camp
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{% static 'website/img/biathlon_camp/IMG_0849.JPG' %}" alt="campers at shooting range">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'website/img/biathlon_camp/IMG_5146.JPG' %}" alt="campers on roller ski loop">
        </div>
    </div>
</section>


    <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{% static 'website/img/biathlon_camp/IMG_0838.JPG' %}" alt="campers at shooting range">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'website/img/biathlon_camp/IMG_5116.JPG' %}" alt="campers on roller ski loop">
        </div>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">U18 Biathlon Camp July 27 -July 31:</h2>
            <p class="mb-4">Come join us for our U18 Biathlon Camp! Camp participants will get to hone their biathlon skills on our full 30 point shooting range under the guidance of our experienced coaches. Campers will also get lots of time on rollerskis in a safe, car-free environment on our 3km rollerski loop. This is a perfect opportunity for cross country skiers to get a strong introduction to biathlon, as well as for experienced biathletes to practice their skills. Prior rollerski experience is required, however, prior shooting experience is not. Training will mostly be rollerskiing, but campers should also bring running sneakers, and are encouraged to bring mountain or gravel bikes to explore the trails during non-rollerski sessions. We will provide a rifle for you if you need one.
</p>
            <p>Housing: Bunk beds and cots will be provided in the heated lodge and wax rooms<br/>
            Food: We will provide meals and a few group snacks, but encourage campers to bring personal snacks. Please communicate any allergies/dietary restrictions to us.
            </p>
            <h4 class="font-medium">Camp Fee: $350</h4>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScSV3ouAt0Qa5tCaa5Ejz_4bhbsbLKf9l4FQep7bEg7h7uPDw/viewform?usp=sf_link" target="_blank" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                  Register for U18 Biathlon Camp
                  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
        </div>
    </div>
</section>
    

{% endblock content %}