{% extends "../_base.html" %}
{% load wagtailcore_tags wagtailimages_tags  %}
{% block content %}

    <!--
Install the "flowbite-typography" NPM package to apply styles and format the article content:

URL: https://flowbite.com/docs/components/typography/
-->

<main class="pb-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    {% image banner_image original as tmp_photo %}

  <header style="background-image:url('{% if banner_image %}{{ tmp_photo.url }}{% else %}https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg{% endif %}');" class="w-full h-[460px] xl:h-[537px] bg-no-repeat< bg-cover bg-center  bg-gray-700 bg-blend-multiply relative">
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
      <div class="absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0">
          <h1 class="mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl">{% if show_parent_content %}{{  page.get_parent.specific.title }}<br /><small>{{ page.date }}</small>{% else %}{{ page.title }}{% endif %}</h1>
      </div>
  </header>
  <div class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-white dark:bg-gray-800 rounded xl:-m-32 xl:p-9 xl:mx-auto">
      <article class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
          <div class="flex flex-col lg:flex-row justify-between lg:items-center mb-12">
              <div class="flex items-center space-x-3 text-gray-500 dark:text-gray-400 text-base mb-2 lg:mb-0">
                  <span>By <a href="#" class="text-gray-900 dark:text-white hover:underline no-underline font-semibold">{% if not page.author %}FKOC{% else %}{{ page.author }}{% endif %}</a></span>
                  <span class="bg-gray-300 dark:bg-gray-400 w-2 h-2 rounded-full"></span>
                  <span><strong class="text-gray-900 dark:text-white hover:underline no-underline font-semibold">Event Date:</strong> {{ page.date }}</span>
                {% if page.start_time %}<span class="bg-gray-300 dark:bg-gray-400 w-2 h-2 rounded-full"></span>
              <span><strong class="text-gray-900 dark:text-white hover:underline no-underline font-semibold">Time:</strong> {{ page.start_time }}{% if page.end_time %} - {{ page.end_time }}{% endif %}</span>{% endif %}
              </div>
          </div>

        {% if show_parent_content %}
        {{ page.get_parent.specific.body|safe }}
        {% endif %}
        {{ page.body|safe }}


        {% if page.flyer  %}
        <section class="bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white">Help Spread the Word!</h2>
                    <p class="mb-6 font-light text-gray-400 md:text-lg">You can help us promote this event by printing the event flyer and sharing in your office, or anywhere else it may be seen.<br/> Thanks for helping  make The Fort Kent Outdoor Center successful.</p>
                    <a href="{{ page.flyer.url }}" target="_blank" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Download Event Flyer</a>
                </div>
            </div>
        </section>
        {% endif %}
      </article>
      <aside class="hidden xl:block" aria-labelledby="sidebar-label">
          <div class="xl:w-[336px] sticky top-6">
              <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
              <div class="mb-12">
                  <h4 class="mb-4 text-sm font-bold text-gray-900 dark:text-white uppercase">Upcoming Events</h4>
                  {% for event in upcoming_events %}
                  <div class="mb-6 flex items-center">
                      <div>
                          <h5 class="mb-2 text-lg font-bold leading-tight dark:text-white text-gray-900">{{ event.get_parent.specific.title }}</h5>
                          <p class="mb-2 text-gray-500 dark:text-gray-400">{{  event.get_parent.specific.teaser }}</p>
                          <a href="{{ event.url }}" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                              More Info
                          </a>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </aside>
  </div>
</main>




{% endblock content %}