{% extends "../_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <section
            class="bg-[url('https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg')] bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Upcoming Events</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">The Fort Kent Outdoor Center
                    promotes healthy outdoor lifestyles by providing a first-rate facility, outdoor trail system, and
                    recreational activities for members, athletes, and visitors.</p>
            </div>
        </div>
    </section>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
{#  {% include 'website/partials/event_filters.html' %}#}
      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
          {% for event in events %}
          <article class="relative p-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            {% if event.cancelled %}
            <div class="absolute top-0 bottom-0 left-0 right-0 bg-red-900 flex justify-center items-center opacity-40 rounded-lg">
                <span class="text-white text-5xl font-bold rotate-45">CANCELLED</span>
            </div>
            {% endif %}
              <a href="{{ event.url }}">
                  {% if event.get_parent.specific.banner_image %}
                  {% image event.get_parent.specific.banner_image fill-355x132 crop="center" class="mb-5 rounded-lg" %}
                  {% else %}
                  <img class="mb-5 rounded-lg" src="https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg" alt="Fort Kent Outdoor Center During biathlon event">
                  {% endif %}
              </a>
                {% if not event.get_parent.specific.tags.all %}
                    <span class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ">&nbsp;</span>
                {% endif %}
              {% for tag in event.get_parent.specific.tags.all %}
              <span class="text-xs font-semibold mr-0.5 px-5 py-0.5 rounded" style="background-color:{{ tag.color_code.100 }};color:{{ tag.color_code.800 }};">{{ tag.name }}</span>
              {% endfor %}
              <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="{{ event.url }}">{{ event.get_parent.specific.title }}</a>
              </h2>
              <p class="mb-4 font-light text-gray-500 dark:text-gray-400">{{ event.get_parent.specific.teaser }}</p>
              <div class="flex items-center space-x-4">
                  <img class="w-10 h-10 rounded-full" src="https://cdn.fortkentoc.org/fkoc-logo.jpeg" alt="FKOC LOGO">
                  <div class="font-medium dark:text-white">
                      <div>Fort Kent Outdoor Center</div>
                      <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><strong>Event Date:</strong> {{ event.date }}</div>
                  {% if event.get_parent.specific.category %}
                       <span class="text-xs font-semibold mr-0.5 px-5 py-0.5 rounded" style="background-color:{{ event.get_parent.specific.category.color_code.200 }};color:{{ event.get_parent.specific.category.color_code.900 }};">{{ event.get_parent.specific.category.name }}</span>
                  {% endif %}
                  </div>
              </div>
          </article>
          {% endfor %}
      </div>
  </div>
</section>







{% endblock content %}