{% extends "../_base.html" %}
{% block content %}
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="xPkSZksn"></script>
    <section
            class="bg-[url('https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg')] bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Fort Kent Outdoor Center</h1>
                                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">The Fort Kent Outdoor Center
                    promotes healthy outdoor lifestyles by providing a first-rate facility, outdoor trail system, and
                    recreational activities for members, athletes, and visitors.</p>
{#                <a href=""#}
{#                   class="inline-flex items-center py-3 px-5 font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-900 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">#}
{#                    Learn More#}
{#                </a>#}
{#                <a href="#"#}
{#                   class="inline-flex items-center py-3 px-5 font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-900 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">#}
{#                    Become a Member#}
{#                </a>#}
            </div>
        </div>
    </section>


<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto px-4 py-8 place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">US Biathlon National Championships</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">This year’s US Biathlon National Championships and the inaugural U.S. Biathlon Collegiate National Championships will take place in Fort Kent, Maine March 21-24, 2024. The three-day race series will include a sprint race, which will double as the first-ever U.S. Biathlon Collegiate National Championships, a pursuit race, and relay races. As a past host of 2004 and 2011 Biathlon World Cup events, the trails in Fort Kent are truly world class and the town is blessed with some of the best natural snow in the U.S.</p>
            <a href="/events/usba-nationals/" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                View The USBA Nationals Event Webpage
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        <div class="lg:mt-0 lg:col-span-5 lg:flex justify-center items-center">
            <iframe class="youtube-video" src="https://www.youtube-nocookie.com/embed/KbtPszkInN0?si=FBITsX-pXgXRfabo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
    <section class="bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <div class="mb-5">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Follow us on social media for the most up-to-date news and conditions.</h2>
                        <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a href="https://www.facebook.com/FortKentOutdoorCenter/" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <svg class="mr-3 w-7 h-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
    <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
  </svg>
                    <div class="text-left">
                        <div class="mb-1 text-xs">Visit Us on:</div>
                        <div class="-mt-1 font-sans text-sm font-semibold">Facebook</div>
                    </div>
                </a>
            </div>
        </div>
        <div>
<div class="fb-page" data-href="https://www.facebook.com/FortKentOutdoorCenter/" data-tabs="timeline" data-width="343" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/FortKentOutdoorCenter/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FortKentOutdoorCenter/">Fort Kent Outdoor Center</a></blockquote></div>        </div>
    </div>
</section>
    



    {% include 'website/partials/webcam_partial.html' %}



    <section class="bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-white">Hoping to hit the
                    trails today?</h2>
                <p class="mb-8 font-light sm:text-xl text-gray-400">We have a dedicated group of volunteers who work on
                    keeping our trails in great condition all year round. So when planning your visit to the Fort Kent
                    Outdoor center, don’t forget to check out our regularly updated trail maps and trail conditions.</p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <a href="https://checkout.square.site/merchant/ML2F4ZRCK3MBY/checkout/EO4XJLFQSKPHS3VXT2UBKQXI"
                       class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-900">
                        Purchase a day pass
                    </a>
                </div>
            </div>
        </div>
    </section>
    
{% endblock content %}