{% extends "../_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block content %}
<section
                style="background-image: url('{% static 'banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg' %}');background-color:rgba(0,0,0,.80);background-blend-mode: overlay;" class="bg-no-repeat bg-cover bg-center">        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Memberships</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">Our memberships follow the calendar year from January 1 to December 31.</p>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Becoming a FKOC member</h2>
          <p class="mb-4 font-light">
              All members will receive a membership card in the mail, once the waiver form has been signed.
            Membership includes access to our beautiful trails year-round for Cross Country Skiing,
            Snowshoeing, Disc Golf, Mountain Biking, Roller-skiing, Running, and Walking. The Lodge will be
            open daily, once ski season has started and close again in late April. Please take care to keep
            the Lodge clean and orderly, as it is staffed by volunteers.
          </p>
          <p class="mb-4 font-light">
              Membership is the lifeblood of the FKOC, providing the primary source of funding that sustains
                our operations and allows us to offer an array of programs and services. Your membership
                dollars go directly toward maintaining our venue, grooming ski trails, and ensuring the year-
                round excellence of our facilities. By becoming a member, you not only gain access to incredible
                outdoor experiences but also play a pivotal role in preserving and enhancing our beloved Fort
                Kent Outdoor Center for generations to come.
          </p>
      </div>
  </div>
</section>



    <section class="bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="grid space-y-8 lg:grid-cols-2 lg:gap-12 lg:space-y-0">
          <div>
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Fort Kent Outdoor Center <br/><small>Membership Options</small></h2>
              <p class="mb-4 sm:text-xl text-gray-400">Membership is the lifeblood of FKOC, providing the primary source of funding that sustains our operations and allows us to offer an array of programs and services. Your membership dollars go directly towards maintaining our trails, grooming ski paths, and ensuring the year-round excellence of our facilities. By becoming a member, you not only gain access to incredible outdoor experiences but also play a pivotal role in preserving and enhancing our beloved Fort Kent Outdoor Center for generations to come.</p>
              <a href="https://cdn.fortkentoc.org/media/documents/FKOCMembership_Waiver2026.pdf" target="_blank" class="inline-flex items-center font-medium sm:text-lg text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400">
                  Download a membership form <svg class="ml-1 w-5 h-5"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
    <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
  </svg>

              </a>



          </div>
          <div>
              <a href="#membership-section" class="flex justify-between items-center p-4 mb-6 rounded-lg border-l-8 shadow bg-gray-800 hover:bg-gray-700 border-primary-600">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">For Ages 19 +</span>
                      <span class="text-xl font-semibold text-primary-500">Adult <strong>$100</strong></span>
                  </div>
                </a>
              <a href="#membership-section" class="flex justify-between items-center p-4 mb-6 rounded-lg border-l-8 shadow bg-gray-800 hover:bg-gray-700 border-purple-500 hover:bg-gray-50">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">Ages 7-18</span>
                      <span class="text-xl font-semibold text-purple-500">Youth $50</span>
                  </div>
                </a>
              <a href="#membership-section" class="flex justify-between mb-6 items-center p-4 rounded-lg border-l-8 border-teal-600 shadow bg-gray-800 hover:bg-gray-700 border-teal-500 ">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">Living in the same household</span>
                      <span class="text-xl font-semibold text-teal-500">Family $225</span>

                  </div>
                </a>
              <a href="#membership-section" class="flex justify-between items-center p-4 rounded-lg border-l-8 border-teal-600 shadow bg-gray-800 hover:bg-gray-700 border-pink-500 ">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">With valid student ID</span>
                      <span class="text-xl font-semibold text-pink-500">UMFK Student $50</span>
                  </div>
                </a>
          </div>
      </div>
  </div>
</section>

    <section class="bg-white" id="membership-section">
    <h3 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white text-center pt-8">Purchase Your Membership Online</h3>
        <div class="visible">
            <h4 class="mb-4 text-2xl tracking-tight font-semibold text-gray-900 dark:text-white text-center pt-4">Step 1: Click the Button below to fill out a release form</h4>
            <div class="flex justify-center items-center h-screen flex-col">
                <p class="max-w-2xl mb-5">
                    Each member is required to have a completed and signed release form for the current membership year on file prior to using the Fort Kent Outdoor Center facilities. This ensures the safety and compliance of all members and helps us maintain a secure and enjoyable environment for everyone. Please make sure to submit your release form promptly to activate your membership and gain access to our trails, lodge, and other amenities.
                </p>
                <a href="https://app.waiversign.com/e/68b05e9a16bfaf7b2a6b56e5/doc/68b0934d9b73a3001293355d?event=none" target="_blank" rel="noopener noreferrer">
                    <button class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600">
                        Release Form
                    </button>
                </a>
            </div>
        </div>
        <div class="hidden" id="membership-links">
            <h4 class="mb-4 text-2xl tracking-tight font-semibold text-gray-900 dark:text-white text-center pt-4">Step 2: Secure and Easy Payment through Stripe</h4>
            <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
            <stripe-pricing-table pricing-table-id="prctbl_1ScawpCNUZB7PvDyMKHEwRED"
            publishable-key="pk_live_51K7Op9CNUZB7PvDyrt4Y4E7RoduQLDdUa8S0qfc2fZKdyHLcBbYXUAXAvS5UAzTWjGkIaCuxiTBLqFXYi01Xyb8N00CqrkdT6e">
            </stripe-pricing-table>
        </div>
        <script>
            // Check if the URL contains the query parameter `release-form=true`
            const urlParams = new URLSearchParams(window.location.search);
            const releaseFormSubmitted = urlParams.get('release-form') === 'true';
        
            // Get the sections
            const releaseFormSection = document.querySelector('.visible');
            const membershipLinksSection = document.querySelector('#membership-links');
        
            // Toggle visibility based on the query parameter
            if (releaseFormSubmitted) {
                releaseFormSection.classList.add('hidden');
                membershipLinksSection.classList.remove('hidden');
        
                // Scroll to the membership-links section
                membershipLinksSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        </script>
    </section> 

    

    
{% endblock content %}