{% extends "../_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block content %}
    <section
            style="background-image: url('{% static 'banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg' %}');" class=" bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Coaching Programs</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">Along with many community outings
                    and events offered at the FKOC for our adult members, such as annual Welcome Winter evening in early
                    December, and the Band and BBQ event in the fall, we also offer ongoing educational programming for
                    youth.</p>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
            <div class="mx-auto mb-8 lg:mb-16 max-w-screen-sm md:mb-24">
                <h2 id="fkoc-coaching" class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">The FKOC Coaching
                    Team</h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Guiding Our Athlete's Outdoor Journey With Expertise and Passion!</p>
            </div>
            <div class="grid gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
                {% for coach in page.coaches.all %}
                    <div class="text-center text-gray-500">
                        <a href="#" hx-trigger="click" hx-target="body"
                           hx-get="{% url 'website:coach_modal' coach.slug %}" hx-swap="afterbegin">
                            <img src="{{ coach.imageUrl }}"  class="mx-auto mb-4 w-36 h-36 rounded-lg" />
                            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ coach.name }}</h5>

                                <span>
                                {% if coach.title %}
                                    {{ coach.title }}&nbsp;&nbsp;
                                {% endif %}
                                                            <svg class="w-[12px] h-[12px] text-gray-800 dark:text-white inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                              </svg>
                                </span>

                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-12 lg:py-12 lg:pb-16">
            <div class="text-center">
                <h2 id="pg-training" class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">POST GRADUATE (PG)
                    Training PROGRAM</h2>
            </div>
            <div class="grid grid-cols-1 gap-8 mt-8 lg:gap-16 lg:grid-cols-2 lg:mt-16">
                <div>
                    <div>
                        <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                            Description
                        </h3>
                        <p class="mt-2 text-lg font-normal text-gray-500 dark:text-gray-400">
                            The FKOC Post Graduate program is a high performance training program designed to bring high
                            school graduated Nordic skiers and Biathletes, aged 18-23, to the next level of competitive
                            performance with a dedicated annual full time training program.
                        </p>
                    </div>
                    <div>
                        <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                            Coaches
                        </h3>
                        <p class="mt-2 text-lg font-normal text-gray-500 dark:text-gray-400">
                            Coaching responsibilities are shared between Carl Theriault for biathlon specific training and Charlie Cobb for
                            ski technique, strength and endurance train </p>
                    </div>
                    <div>
                        <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                            Academics
                        </h3>
                        <p class="mt-2 text-lg font-normal text-gray-500 dark:text-gray-400">
{#                            <img decoding="async" loading="lazy" class="float-left mt-2 mr-3"#}
{#                                 src="https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-168x300.png"#}
{#                                 alt="University of Maine at Fort Kent Logo" width="62" height="110"#}
{#                                 srcset="https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-168x300.png 168w, https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-574x1024.png 574w, https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-768x1371.png 768w, https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-861x1536.png 861w, https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical-600x1071.png 600w, https://www.fortkentoc.org/wp-content/uploads/2021/06/umfk-logo-color-vertical.png 1138w"#}
{#                                 sizes="(max-width: 62px) 100vw, 62px">We highly encourage athletes to take advantage of#}
                            the <a href="https://www.umfk.edu/" target="_blank" rel="noopener">University of Maine at
                            Fort Kent</a> to stay intellectually stimulated while training and fulfill some early
                            collegiate course requirements. The University offers scholarship programs to all athletes
                            training with the FKOC Post Graduate Program.
                    </div>
                </div>

                <div class="space-y-8">
                    <div>
                        <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                            Facility
                        </h3>
                        <p class="mt-2 text-lg font-normal text-gray-500 dark:text-gray-400">
                            The training will take advantage of the excellent facilities at the Fort Kent Outdoor
                            Center. This includes a 3km paved roller skiing loop, a 30-point shooting range, and 25km of
                            excellent Nordic trails that are FIS and IBU homologated. Fort Kent has the longest
                            snow-covered season in the Northeast, usually starting in early November and finishing in
                            late April.
                        </p>
                    </div>

                    <div>
                        <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                            Housing
                        </h3>
                        <p class="mt-2 text-lg font-normal text-gray-500 dark:text-gray-400">
                            We offer two housing options for out athletes, our lodge and the Jalbert Biathlon Residence.
                            While the coaches do check in frequently, the athletes are living independently and are
                            expected to maintain their space appropriately.
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-8 mt-8 ">
                <div>
                    <h3 class="text-2xl font-extrabold text-gray-900 dark:text-white">
                        Pricing
                    </h3>
                </div>

                <ul class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-3">

                    <li class="flex items-center gap-2.5">
                        <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
              Housing $300/Month <br/><small> Utilities and internet included. </small>
            </span>
                    </li>

                    <li class="flex items-center gap-2.5">
                        <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
              Coaching/Training $200/Month <br/><small>Includes: Daily training, Race support, Wax supplies, and Team FKOC Uniforms.</small>
            </span>
                    </li>

                    <li class="flex items-center gap-2.5">
                        <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
              Ammunition $50/Month <br/><small>Biathletes only </small>
            </span>
                    </li>

                    <li class="flex items-center gap-2.5">
                        <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
              Training Camps/Events - In Region <br/><small>We will provide transport/housing/food. You will cover the registration costs. </small>
            </span>
                    </li>

                    <li class="flex items-center gap-2.5">
                        <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-base font-normal text-gray-500 dark:text-gray-400">
              Training Camps/Events - Out of Region <br/><small>We will provide housing and food, you must cover your airfare and registration fees </small>
            </span>
                    </li>
                </ul>
            </div>
        </div>

    <div class="px-4 mx-auto max-w-screen-xl pb-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Space is Limited!</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">The PG Program will be limited to the first 5 athletes registered due to housing restrictions, so don't delay! Follow the link to download and submit your application today.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a href="https://drive.google.com/file/d/17QBqvZnmy7SJ0w_Bzpmnjaaoml3_xr-F/view?usp=drive_web" target="_blank" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Program Application
                </a>
                <a href="https://drive.google.com/file/d/11mxe4Lqy_ASNxjiu9R74zEMNmluFcoXz/view?usp=drive_web" target="_blank" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                    Additional Information
                </a>
            </div>
        </div>
    </div>
</section>

    <section class="bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-12 sm:text-center lg:py-16">
            <h2 id="residence"  class="mb-4 text-4xl tracking-tight font-extrabold text-white">Jalbert Biathlon Residence</h2>
            <p class="font-light sm:text-lg md:px-20 lg:px-38 xl:px-48 text-gray-400">The Post Graduate program is
                supported by the generous help of Phyllis Jalbert, who has provided us with the “Jalbert Biathlon
                Residence”, located within walking distance of the FKOC. There are 5 bedrooms, a spacious living
                room/kitchen, and a common area in the basement. at the located at 42 2nd Ave, about a mile from FKOC.
                Available to full time athletes on a first come first serve basis. </p>
            <div class="gap-4 mt-8 sm:grid sm:grid-cols-4 sm:mt-12">
                <img class="hidden col-span-1 sm:block rounded-lgg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-1.jpg' %}"
                     alt="Jalbert House front yard">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-2.jpg' %}"
                     alt="Jalbert House bedroom">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-3.jpg' %}"
                     alt="Jalbert House living space">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-4.jpg' %}"
                     alt="Jalbert House Dinning area">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-5.jpg' %}"
                     alt="Jalbert House Kitchen">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-6.jpg' %}"
                     alt="Jalbert House">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-7.jpg' %}"
                     alt="Jalbert House Sign">
                <img class="hidden col-span-1 sm:block rounded-lg"
                     src="{% static 'website/img/jalbert-house/jalbert-house-8.jpg' %}"
                     alt="Jalbert House Parking">
            </div>
        </div>
    </section>



    <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 id="ski-program" class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Jalbert Ski Program</h2>
            <p class="mb-4">The Jalbert Youth Ski Program is a great opportunity for children grades K-6 to get outside and learn to cross-country ski! This exciting winter program hosted at the Fort Kent Outdoor Center (FKOC) offers trail passes, ski rentals, and instruction at no cost thanks to Phyllis Jalbert who has supported the program for many years. Sessions are typically held on Saturday afternoons twice a month (January-March). Dates and details are posted each year once the trails at the FKOC are skiable. Whether your child ends up coming to just one session, or catches Ski Fever and doesn’t miss a single one, each week’s session will incorporate most of the necessary skills, including balance, glide and uphill and downhill techniques into the activities and games.</p>
            <p class="mb-4">A dedicated team of FKOC volunteers help coordinate ski rentals and provide instruction to the participants according to their ability level and preferred technique. While most participants are equipped with classic skis (fish-scales on the base), some participants take advantage of the opportunity to try skate skiing (no fish scales). Classic technique is the best choice for beginning skiers.</p>
            <p class="mb-4">Participants who have rented complimentary ski packages through the Jalbert Program will be asked to return their skis/boots/poles at the last session</p>
            <p>We are always looking for volunteers (ages 15+) to help out inside and outside. Our indoor tasks include helping with registration and running the rental shop. Our outdoor volunteers would be helping with instruction out on the snow. If you are interested in helping out, please send us a message.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{% static 'website/img/programs/Jalbert-snowplow.jpg' %}" alt="kid skiing">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'website/img/programs/Jalbert-class.jpg' %}" alt="kids taking a ski lesson">
        </div>
    </div>
</section>

<section class="bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light sm:text-lg text-gray-400">
            <h2 id="biathlon-program" class="mb-4 text-4xl tracking-tight font-extrabold ext-white">Jalbert Biathlon Program</h2>
            <p class="mb-4">For youth ages 10+ interested in competing in biathlon, the Jalbert Biathlon Program offers instruction at the same time as the Youth Ski Program. The biathlon portion of the program extends beyond the winter months, however, with training and events held throughout the summer for a nominal fee.</p>
            <p>Since it began in *2011, the Jalbert Youth Ski & Biathlon Programs have been funded by the generosity and enthusiasm of Fort Kent native, Mrs. Phyllis Jalbert. Phyllis is happy to see cross-country skiing and biathlon thriving in our community. The FKOC is very grateful for her ongoing support.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{% static 'website/img/programs/jalbert-biathlon.jpg' %}" alt="biathlon racer">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'website/img/programs/east-region-biathlon-sm-106.jpg' %}" alt="biathlon range">
        </div>
    </div>
</section>

{% endblock content %}