{% extends 'wagtailadmin/login.html' %}

{% block branding_logo %}
    <div style="margin-top:25px; display: flex;justify-content: center; align-items: center;">
    <div style="background-color:white; border-radius:50%;">
        <img src="https://cdn.fortkentoc.org/fkoc-logo.jpeg" alt="Fort Kent Outdoor Center Logo" width="80" style="margin:25px;" />
    </div>
    </div>
{% endblock %}

{% block branding_login %}FKOC<br/><small>Content Administration and Resource Library<br/><strong>(C.A.R.L)</strong></small>{% endblock %}