{% extends "_base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <section
            class="bg-[url('https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg')] bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Explore Our Trails</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">Whether you're a casual visitor or a frequent enthusiast, our Daily Trail Passes provide a flexible way to enjoy our trails. Membership (Season Pass) or Daily Trail Pass required for access. Join us in supporting our non-profit organization and our dedicated volunteers who maintain these year-round trails for your enjoyment.</p>
            </div>
        </div>
    </section>



    <section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <div>
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Get Trail-Ready!</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Skip the hassle and go from parking lot to trail with ease. Purchase your day pass online for a contactless, quick, and convenient experience. Choose your pass option below and hit the trails in no time!</p>
            <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a href="#" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <div class="text-left">
                        <div class="mb-1 text-xs">Pass Options:</div>
                        <div class="-mt-1 font-sans text-sm font-semibold">Ski Trail Day Pass</div>
                    </div>
                </a>
                <a href="#" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <div class="text-left">
                        <div class="mb-1 text-xs">Pass Options:</div>
                        <div class="-mt-1 font-sans text-sm font-semibold">Snowshoe Trail Day Pass</div>
                    </div>
                </a>
            </div>
        </div>
        <img class="hidden mx-auto w-64 md:flex" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/iphone-mockup.png" alt="mobile app">
    </div>
</section>



    <section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white">Need Equipment?</h2>
            <p class="mb-6 font-light text-gray-400 md:text-lg">We can provide you with the equipment you need to enjoy all that The Fort Kent Outdoor Center has to offer. Try some of our Cross Country Skis, or toss on a pair of Snowshoes and enjoy our winter walking trails. </p>
            <a href="{% slugurl 'day-passes' %}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Rental Info</a>
        </div>
    </div>
</section>
    <section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Show your support for <br /><small>Fort Kent Outdoor Center</small></h2>
            <p class="mb-4">We are a non-profit 501-C organization and will put every penny to good use. Our beautiful Lodge, Timing Building, Wax Building, groomed trails (paved and carved out for different activities) all need volunteer labor as well as funding from memberships, sponsorships, and donations large and small. Please consider us for one time as well as continuous support. Many thanks to all of our past, present, and future sponsors! </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>



{% endblock content %}