{% extends "_base.html" %}

{% block content %}
    <section
            class="bg-[url('https://cdn.fortkentoc.org/banner_images/fort_kent_outdoor_center_arena_during_biathlon.jpg')] bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply">
        <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 xl:px-0 z-1">
            <div class="mb-6 max-w-screen-md lg:mb-0">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl">
                    Memberships</h1>
                <p class="mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">Our memberships follow the calendar year from January 1 to December 31.</p>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Becoming a FKOC member</h2>
          <p class="mb-4 font-light">Adult members will receive a cling-on parking sticker for their vehicle’s windshield that will display their membership. Memberships include access to our beautiful trails year round for Cross Country Skiing, Snowshoeing, Disc Golf, Mountain Biking, Running, and Walking. The Lodge will be open following CDC protocols to members and Security Entrance cards will be issued accordingly. Please take care to keep the Lodge clean and orderly, as it is staffed by volunteers.</p>
      </div>
  </div>
</section>



    <section class="bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="grid space-y-8 lg:grid-cols-2 lg:gap-12 lg:space-y-0">
          <div>
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Fort Kent Outdoor Center <br/><small>Membership Options</small></h2>
              <p class="mb-4 sm:text-xl text-gray-400">Membership is the lifeblood of FKOC, providing the primary source of funding that sustains our operations and allows us to offer an array of programs and services. Your membership dollars go directly towards maintaining our trails, grooming ski paths, and ensuring the year-round excellence of our facilities. By becoming a member, you not only gain access to incredible outdoor experiences but also play a pivotal role in preserving and enhancing our beloved Fort Kent Outdoor Center for generations to come.</p>
              <a href="#" class="inline-flex items-center font-medium sm:text-lg text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400">
                  Download a membership form <svg class="ml-1 w-5 h-5"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
    <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
  </svg>

              </a>



          </div>
          <div>
              <span class="flex justify-between items-center p-4 mb-6 rounded-lg border-l-8 shadow bg-gray-800 hover:bg-gray-700 border-primary-600">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">For Ages 19 +</span>
                      <span class="text-xl font-semibold text-primary-500">Adult <strong>$75.00</strong></span>
                  </div>
              </span>
              <span class="flex justify-between items-center p-4 mb-6 rounded-lg border-l-8 shadow bg-gray-800 hover:bg-gray-700 border-purple-500 hover:bg-gray-50">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">Ages 7-18</span>
                      <span class="text-xl font-semibold text-purple-500">Youth $40</span>
                  </div>
              </span>
              <span class="flex justify-between mb-6 items-center p-4 rounded-lg border-l-8 border-teal-600 shadow bg-gray-800 hover:bg-gray-700 border-teal-500 ">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">Living in the same household</span>
                      <span class="text-xl font-semibold text-teal-500">Family $185</span>
                  </div>
              </span>
              <span class="flex justify-between items-center p-4 rounded-lg border-l-8 border-teal-600 shadow bg-gray-800 hover:bg-gray-700 border-pink-500 ">
                  <div>
                      <span class="block mb-1 text-xs font-medium uppercase text-gray-400">With valid student ID</span>
                      <span class="text-xl font-semibold text-pink-500">UMFK Student $40</span>
                  </div>
              </span>
          </div>
      </div>
  </div>
</section>




    <section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimonials</h2>
          <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">Explore the whole collection of open-source web components and elements built with the utility classes from Tailwind</p>
      </div>
      <div class="grid gap-8 lg:grid-cols-3">
          <div class="space-y-6">
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>
                      <p class="my-4">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Bonnie Green</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">CTO at Open AI</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">A must-have for designers</h3>
                      <p class="my-4">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Lana Byrd</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Software Engineer at Tesla</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Speechless with how easy this was to integrate</h3>
                      <p class="my-4">"I recently got my hands on Flowbite Pro, and holy crap, I'm speechless with how easy this was to integrate within my application. Most templates are a pain, code is scattered, and near impossible to theme."</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Jese Leos</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">CEO at Oracle</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="space-y-6">
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>
                      <p class="my-4">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Joseph McFall</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Junior Designer at Adobe</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow and variants</h3>
                      <p class="my-4">"Flowbite provides a robust set of design tokens and components based on the popular Tailwind CSS framework.</p>
                      <p class="my-4">From the most used UI components like forms and navigation bars to the whole app screens designed both for desktop and mobile, this UI kit provides a solid foundation for any project.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Helene Engels</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">CFO at Microsoft</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Perfect choice for a SaaS application</h3>
                      <p class="my-4">"Flowbite provides a robust set of design tokens and components based on the popular Tailwind CSS framework.</p>
                      <p class="my-4">From the most used UI components like forms and navigation bars to the whole app screens designed both for desktop and mobile, this UI kit provides a solid foundation for any project.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/sofia-mcguire.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Leslie Livingston</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Creative Director at Apple</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <div class="space-y-6">
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>
                      <p class="my-4">"I recently got my hands on Flowbite Pro, and holy crap, I'm speechless with how easy this was to integrate within my application. Most templates are a pain, code is scattered, and near impossible to theme."</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Michael Gough</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Front-end engineer at Meta</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow and variants</h3>
                      <p class="my-4">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/neil-sims.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Neil Sims</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Software architect at Amazon</div>
                      </div>
                  </figcaption>
              </figure>
              <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                  <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Speechless with how easy this was to integrate</h3>
                      <p class="my-4">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind.”</p>
                  </blockquote>
                  <figcaption class="flex items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/robert-brown.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white">
                          <div>Robert Brown</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Junior developer at SAP</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
      </div>
  </div>
</section>


{% endblock content %}