<div class="w-full">
              <ol class="flex items-center mb-6 text-sm font-medium text-center text-gray-500 dark:text-gray-400 lg:mb-12 sm:text-base">
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto">1</div>
                          Membership <span class="hidden sm:inline-flex">Type</span>
                      </div>
                  </li>
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto">2</div>
                          Member(s) <span class="hidden sm:inline-flex">Info</span>
                      </div>
                  </li>
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto font-extrabold text-blue-700">3</div>
                          Activities <span class="hidden sm:inline-flex">Enjoyed</span>
                      </div>
                  </li>
                  <li class="flex items-center sm:block">
                      <div class="mr-2 sm:mb-2 sm:mx-auto">4</div>
                      Confirmation
                  </li>
              </ol>
              <h1 class="mb-4 text-2xl font-extrabold leading-tight tracking-tight text-gray-900 sm:mb-6 dark:text-white">Member(s) Activities</h1>
              <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Please select the activities you enjoy at the Fort Kent Outdoor Center</p>
              <form>
                {% csrf_token %}

                <fieldset>
                  <legend class="sr-only">Checkbox variants</legend>
                  {% for field in form %}
                    {{ field }}
                  {% endfor %}
                </fieldset>
                  <div class="flex mt-4">
                      <button class="w-full px-5 py-2.5 sm:py-3.5 text-sm font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" hx-target="#membership-div" hx-swap="innerHTML" hx-get="{% url 'memberships:onboarding_member_partial' %}" hx-trigger="click">Back: Members</button>
                      <button class="w-full px-5 py-2.5 pl-4 sm:py-3.5 text-sm font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 md:ml-4" hx-target="#membership-div" hx-swap="innerHTML" hx-post="{% url 'memberships:onboarding_activities_enjoyed_partial' %}" hx-trigger="click">Next: Confirmation</button>
                  </div>
              </form>
          </div>