<div class="w-full">
              <ol class="flex items-center mb-6 text-sm font-medium text-center text-gray-500 dark:text-gray-400 lg:mb-12 sm:text-base">
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto font-extrabold text-blue-700">1</div>
                          Membership <span class="hidden sm:inline-flex">Type</span>
                      </div>
                  </li>
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto">2</div>
                          Member(s) <span class="hidden sm:inline-flex">Info</span>
                      </div>
                  </li>
                  <li class="flex items-center after:content-[''] after:w-12 after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                      <div class="flex items-center sm:block after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                          <div class="mr-2 sm:mb-2 sm:mx-auto">3</div>
                          Activities <span class="hidden sm:inline-flex">Enjoyed</span>
                      </div>
                  </li>
                  <li class="flex items-center sm:block">
                      <div class="mr-2 sm:mb-2 sm:mx-auto">4</div>
                      Confirmation
                  </li>
              </ol>
              <h1 class="mb-4 text-2xl font-extrabold leading-tight tracking-tight text-gray-900 sm:mb-6 dark:text-white">Membership Type</h1>
              <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">What type of membership would you like to purchase?</p>
              <form>
                  {% csrf_token %}
                  <ul class="mb-6 space-y-4 sm:space-y-6">
                  <li>
                      <select id="membership_types" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="AD">Adult Membership (Ages 19+)</option>
                        <option value="YH">Junior Membership (Ages 6-18)</option>
                        <option value="FM">Family Membership (Living in same household)</option>
                        <option value="UM">UMFK Student Membership</option>
                      </select>
                  </li>
              </ul>
                  <button class="w-full px-5 py-2.5 sm:py-3.5 text-sm font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  hx-post="{% url 'memberships:onboarding_membership_type_partial' %}" hx-trigger="click" hx-target="#membership-div" hx-swap="innerHTML">Next: Member(s) Info</button>
              </form>
          </div>